<div class="home-component">
    <h1>Available projects:
        <button (click)="createProject()">Create Project</button>
    </h1>
    <div class="separator"></div> 
    <div class="projects-list">
      <div class="project-card" *ngFor="let singleProject of projects">
        <div class="project-card-text">
            <div [routerLink]="['/printers', singleProject.projectId]">
                <h2>{{ singleProject.name }}</h2>
                <p>{{ singleProject.description }}</p>
            </div>
            <button (click)="deleteProject(singleProject.projectId, singleProject.name)">Delete</button>
        </div>
      </div>
    </div>
</div>