.home-component {
    padding: 20px;
  
    h1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      button {
        display: flex;
        margin-left: auto;
        background-color: #28a745; 
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
  
        &:hover {
          background-color: darken(#28a745, 10%);
          transform: scale(1.05); 
        }
      }
    }
  
    .separator {
      height: 1px;
      background-color: #000000;
      margin: 20px 0;
    }
  
    .projects-list {
  
      .project-card {
        border: 1px solid #e0e0e0;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        position: relative;
        transition: box-shadow 0.3s;
  
        &:hover {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
  
        .project-card-text {
  
          h2 {
            margin: 0;
            padding-bottom: 50px;
          }
  
          p {
            margin: 0;
            padding-bottom: 40px;
          }
  
          button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
  
            &:hover {
              background-color: darken(#dc3545, 10%);
              transform: scale(1.05); 
            }
          }
        }
      }
    }
  }
  